main{
  display: flex;

    margin : 0;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

 
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}
#item1 {
	background-color: #F16B08;
  grid-column: 3 / 4; 
  grid-row: 3 / 4;
	
  }

  #item2 {
    background-color: #B2F109;
    grid-column: 4 / 5; 
    grid-row: 2 / 4;
   
    }
    
  
    #item3 {
    background-color: #075f21;
    grid-column: 2 / 4; 
    grid-row: 2 / 3;
 
    }
    
   
    #item4 {
    background-color: #05215f;
    grid-column: 2 / 3; 
    grid-row: 3 / 5;
  
    }
    
  
    #item5 {
    background-color: #eca1e0;
    grid-column: 3 / 6; 
    grid-row: 4 / 5;
    
    }
    
   
    #item6 {
    background-color: #70c9a8;
    grid-column: 5 / 6; 
    grid-row: 1 / 4;
    
    }
    
   
    #item7 {
    background-color: #d3e956;
    grid-column: 1 / 5; 
    grid-row: 1 / 2;
   
    }
    
   
    #item8 {
    background-color: #5a70df;
    grid-column: 1 / 2; 
    grid-row: 2 / 6;

    }

  #item9 {
    background-color: #86c8d8;
    grid-column: 2 / 6; 
    grid-row: 5 / 6;
  }
      
  .retour-accueil {
    display: inline-block;
    margin-top: 30px;
     color: #633;
    text-decoration: none;
    font-weight: bold;
  }
  .retour-accueil:hover {
            text-decoration: underline;
  }
