body {
	margin: 0;
  }
  
  #container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	gap: 6px ;
	background-color: rgb(194, 71, 231); 
  }
  
  #item1 { 
	background-color: #F16B08;
	height: 50px;
  }
  
  .middle {
	display: flex;
	flex: 1;
	gap: 6px ;
	background-color: rgb(194, 71, 231); 
  }
  
  #item2 {
	background-color: #B2F109;
	width: 25%;
	display: flex;
	flex-direction: column;
  }
  
  .right-column {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 6px ;
	background-color: rgb(194, 71, 231); 
  }
  
  #item5 {
	background-color: #FBB5E9;
	height: 50px;
  }
  
  .center-row {
	display: flex;
	flex: 1;
	gap: 6px ;
	background-color: rgb(194, 71, 231); 
  }
  
  #item6 {
	background-color: #0AF1AD;
	flex: 2;
  }
  
  .right-side {
	display: flex;
	flex-direction: column;
	width: 25%;
	gap: 6px ;
	background-color: rgb(194, 71, 231); 
  }
  
  #item7 {
	background-color: #E8F571;
	flex: 1;
  }
  
  #item8 {
	background-color: #31838F;
	height: 100px;
  }
  
  #item3 {
	background-color: #23F109;
	height: 50px;
	
  }
  
  #item4 {
	background-color: #3050F0;
	height: 50px;
  }
  