body {
	margin: 0;
  }
  
  #container {
	display: grid;
	height: 100vh;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 50px 50px auto 100px 50px 50px;
	grid-template-areas:
	  "item1 item1 item1"
	  "item2 item5 item5"
	  "item2 item6 item7"
	  "item2 item6 item8"
	  "item2 item3 item3"
	  "item4 item4 item4";
	gap: 6px;
	background-color: rgb(194, 71, 231); 
  }
  
  #item1 {
	grid-area: item1; 
	background-color: #F16B08; 
}
  #item2 { 
	grid-area: item2; 
	background-color: #B2F109; 
}
  #item3 { 
	grid-area: item3; 
	background-color: #23F109; 
}
  #item4 { 
	grid-area: item4; 
	background-color: #3050F0; 
}
  #item5 { 
	grid-area: item5; 
	background-color: #FBB5E9; 
}
  #item6 { 
	grid-area: item6; 
	background-color: #0AF1AD; 
}
  #item7 { 
	grid-area: item7; 
	background-color: #E8F571; 
}
  #item8 { 
	grid-area: item8;
	background-color: #31838F; 
}
  